html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 87);
}

canvas {
    width: 900px;
    height: 600px;

    image-rendering: pixelated;
    display: block;
}